html, body {
	margin: auto;
	padding: auto;
}

nav {
	width: 100%;
	background-color: yellowgreen;
}

a {
	text-decoration: none;
}

a .title {

}

ul {
	float: right;
}

ul li {
	display: block;
	float: left;
	margin-left: 20px;
}

