<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vue js</title>
    </head>
    <body>
        <div id="app" v-if="status == 'tampilkan'">
            <h1>{{ message }}</h1>
            <label v-for= 'user in users'>
                <p>My Name is <b>{{ user.name}}</b>, and I'm <b>{{user.age}}</b> years old.</p>
            </label>
        </div>
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el:'#app',
        data : {
            message: 'Hi Guys, Perkenalkan',
            status: 'tampilkan',
            users:[
                {
                    name : 'Nasrun',
                    age : '25'
                },
                {
                    name : 'Deby',
                    age : '35'
                },
                {
                    name : 'Ey',
                    age : '32'
                },
            ]
        }
    })
</script>